body{
	text-align: center;
}
textarea{
	width: 90%;
	height: 200px;
	overflow: auto;
	padding: 6px 10px 8px;
	line-height: 1.4;
	border: 2px solid grey;
}
textarea:focus {
    outline: 0;
}
#search, #btn{
	min-width: 200px;
	height:50px;
	border: grey;
	background: #9e9e9e !important;
	color: white;
	font-size: 20px;
	font-weight: bold;
	outline: 0;
}
#res{
	width: 50px;
	border: 2px solid grey;
	font-size: 20px;
	font-weight: bold;
}
